<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
  <div fxLayout="coloum">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>User Service Manager</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div fxLayout="coloum">
    <mat-card>
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <p>
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="Username"
                formControlName="username"
              />
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <input
                type="password"
                matInput
                placeholder="Password"
                formControlName="password"
              />
            </mat-form-field>
          </p>

          <div fxLayout="row" fxLayoutGap="90px">
            <div fxLayout="coloum">
              <div class="password">
                <button type="button" mat-button>Forgot password?</button>
              </div>
            </div>
            <div fxLayout="coloum">
              <div class="button">
                <button type="submit" mat-button>Login</button>
              </div>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- <mat-card>
    <mat-card-title>Login</mat-card-title>
<mat-card-content>
<form [formGroup]="form" (ngSubmit)="submit()">
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="Username" formControlName="username">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>
  </p>



  <div fxLayout="row" fxLayoutGap="90px">
    <div fxLayout="coloum">
      <div class="password">
        <button type="button" mat-button>Forgot password?</button>
      </div>
    </div>
    <div fxLayout="coloum">
      <div class="button">
        <button type="submit" mat-button>Login</button>
      </div>
    </div>
  </div>
  


</form>
</mat-card-content>
</mat-card> -->
