.paddingStyle {
  padding: 10px;
}
.example-spacer {
  flex: 1 1 auto;
}

.sideMenuStyle {
  width: 150px;
  height: 50px;
}

.sidepaddingStyle {
  padding: 3px;
}

.sidepaddingStyle button.selected {
  background-color: #fffa52;
  color: black;
}

.badgeStyle {
  position: inherit;
}

.rowStyle {
  background-color: #ebebeb !important;
}

.columWidth {
  width: 100%;
}

.paddingAndWidthStyle {
  padding: 0;
  width: 100%;
}

.marqeStyle {
  font-size: 20px;
  font-family: Rajdhani, sans-serif;
  color: #ffffff;
  background-color: #00224f;
}

.displayStyle {
  display: block !important;
}

.scroolingDataMatCardStyle {
  background-color: #00224f !important;
  border-radius: inherit;
}

@media (max-width: 575.98px) {
  .sideMenuStyle {
    width: 100%;
  }
  .paddingStyle {
    padding: 0px;
    margin-right: 0px !important;
  }
  .mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 9px;
    border-radius: 4px;
  }
}
